*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: aqua;
    font-family: arial, sans-serif;

}
head{
    text-align: center;
}
#container {
    width: 1200px;
    margin: 0px auto;
    border 1px solid rgba(0,0,0);
}
header {
    background: rgba(red, green, blue, alpha);
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height:100px ;
    color: white;
    border-bottom: 3px black;

}
nav ul li {
    float: left;
    list-style: done;
    margin: 10px;

}
